# Var definition
CLIENT_ID=1000

# Charon basics
client.name=Tiago
client.id={CLIENT_ID}
mount.point=Charon

# Email definition
email=

#address to listen for remote repository requests.
addr=127.0.0.1:9000

# Charon flags configuration (true or false)
main.memory.cache=false
fsync.to.cloud=false
debug.mode=false
prefetching=false
compression=true

times=false

#number of threads configuration
num.backgroud.threads=4
num.prefetching.threads=4
num.depsky.data.threads=12
num.depsky.metadata.threads=4

# Data locally stored location definition
cache.directory=cache_{CLIENT_ID}
remote.repository.directory=localRep_{CLIENT_ID}/remote
share.tokens.directory=NewSNSs
site.ids.directory=NewSiteIds


# Personal NameSpace id definition (if empty the system fill it with a random value when launched).
personal.namespace.id=
