#NOTE: In this file you can use the Variables defined in charon.config file

# The DEFAULT_LOCATION defines: (1)where the system's metadata is stored and (2) the default location to store files's data.
DEFAULT_LOCATION=coc

# define the label used to choose the corresponding file locations in the system.
# (the configuration for default_location is mandatory) 


coc=coc{file:config/depsky.config}

cloud=cloud{file:config/singleCloud.config}

local=privateRep{cache_{CLIENT_ID}/privateRep}

external=externalRep{hopsfs:/folder/name/to/Charon/store/files/in/hdfs}


